@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <!-- Partie Image -->
        <div class="col-md-6">
            <img src="/image/cover/index RH Home.jpg" class="img-fluid rounded-start" alt="index Image" style="height: 100%;">
        </div>

        <!-- Partie Description Textuelle -->
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="display-4">Bienvenue sur la Plateforme de Gestion des Ressources Humaines</h1>
                <p>Notre plateforme est dédiée à simplifier et optimiser la gestion du capital humain de votre organisation. Explorez nos fonctionnalités avancées conçues pour :</p>
                <ul class="list-unstyled">
                    <li>Suivre les employés</li>
                    <li>Gérer les départements</li>
                    <li>Garantir la confidentialité des données grâce à des mesures de sécurité robustes</li>
                </ul>
                <p>Découvrez nos outils intuitifs qui améliorent l'efficacité opérationnelle, favorisent un environnement de travail productif et simplifient la gestion des employés et le renforcement des départements. Faites évoluer votre entreprise avec notre solution complète de Gestion des Ressources Humaines.</p>
            </div>
        </div>
    </div>
</div>


